In [1]:
import pandas as pd

In [2]:
entire = pd.read_csv('coco.csv')
cols = ['Unnamed: 0', 'Race', 'Gender']
entire = entire[cols]
entire.columns = ['Artist', 'Race', 'Gender']
cleaned = entire.drop_duplicates(['Artist'])
cleaned.head()

                   Artist Race Gender
0                 4:00 PM  NaN    NaN
1                     112   nw    NaN
4                     702  NaN    NaN
6  100 proof aged in soul  NaN    NaN
7           10000 maniacs    w    NaN

In [3]:
cleaned.to_csv('cleaned.csv')

In [4]:
cleaned.loc[cleaned['Artist'].isin(['2pac'])]

   Artist Race Gender
20   2pac   nw      m